.bundle
db/*.qlite3
log/*.log
tmp/**/*
config/database.yml
tmp/*
public/javascripts/backbone/**/**/*.js
public/javascripts/backbone/*.js
public/javascripts/backbone/collections/
public/javascripts/backbone/models/
doc/api
doc/app
*.swp
*.swo
*.un~
*˜
.DS_Store
schema.rb
.tags
emails/*
public/uploads/*
