/* Black color scheme */
body { background-color: #333333; }
header { background-image: url(../images/bg_header_black.png); }
#progressbar { background-image: url(../images/progressbar_fill_black.png); }
.subscribe input.submit { background-image: url(../images/form_button_black.png); }
	
