/* Blue color scheme */
body { background-color: #417E89; }
header { background-image: url(../images/bg_header_blue.png); }
#progressbar { background-image: url(../images/progressbar_fill_blue.png); }
.subscribe input.submit { background-image: url(../images/form_button_blue.png); }
	
