
<h2><%= image_tag @user.gravatar_url %> <%= @user.name %> (<%= @user.geek_id %>)</h2>

<div id="content">
  <%9.times do %>
  <% @products.each do |product|%>
    <div class="block">
      <%= image_tag product.icon.one_twenty_eight.url, :alt => product.name %>  
    </div> 
  <%end-%>
<%end-%>
</div>

<div id="sidebar">
  <div class="name">
  </div>
</div>
