// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

$blueprint_grid_columns : 24;
$blueprint_container_size : 950px;
$blueprint_grid_margin  : 10px;

body {
}

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
  //background-color: #E0E4CC;
  #container {
    padding: 0 20px;
    background-color: white;
    @include container; }
  #header, #footer {
    @include column($blueprint-grid-columns); }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns); }
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    // true means it's the last column in the row
    @include column($content-columns, true); 
    .block{
      $block-columns: 3;
      @include column($block-columns);
    }
  } 
  
  a{
    color: #69D2E7;
    text-decoration: none;
  }
}

#header{

  padding-top: 10px;
  margin-bottom: 30px;

  h1 {
    color: black;
		vertical-align: bottom;
		display: inline;
		font-size: 2em;
		text-shadow: 2px 3px 2px #000;
	}
  
  .user_info{
    float:right;
    padding: 0px 20px;
    color: #ccc;
  }   
}

.clear{
  clear:both;
}

h3 {
  color: #FA6900;
  font-size: 1.2em;

}
  
h2 {
  font-size: 2em;
  margin-bottom: 35px;
  font-family: helvetica,arial,freesans,clean,sans-serif; 
  letter-spacing: -1px; 
}

#content{
  .block{
    display:inline;
    margin-bottom: 40px;

    img {
      height: 90px;
      width: 90px;
    }
  }
}
