<!-- Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Cantarell:regular,italic,bold" rel="stylesheet" type="text/css">
 <link href='http://fonts.googleapis.com/css?family=Kelly+Slab' rel='stylesheet' type='text/css'>
  <script>
    $(document).ready(function(){
      $("#trigger").click(function(){
      $("#wufoo").overlay({
	top: 60,
	mask: {
		color: '#eee',
		loadSpeed: 200,
		opacity: 1.0
	},

	closeOnClick: false,
	load: true
      });
    });
    });
  </script>
   <div id="pattern"><div id="gradient">

    <!-- Image background -->
	<div id="background_image">
		<!-- Insert image here -->
	</div>
	<!-- Image background end -->
	
  
	<!-- Main page -->
        <div id="main_page">
          <div class="left">
      	  <!-- Header -->
	  <header>
          <h1>{ iGeek.at }</h1> <!-- Set the page title -->
          <br/>
          Your geek address on the net. Coming Soon.
	  </header>
	  
	  <!-- Additional content -->
	  <div id="content"> &nbsp;
	  
            <section>
              <div id="trigger">Reserve your Geek ID Now!!!</div>
            </section>

                  <section>
                    <div class="twit-button">
                      <a href="http://twitter.com/share" class="twitter-share-button" data-url="iGeek.at http://bit.ly/p4MudR Your geek id, sign up now!" data-count="vertical" data-via="AviShastry">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                    </div> 
                  </section>
	  </div>

        </div>

        <div class="right">
          <img id="geek" src="/images/geek.png" alt="geek" width="200" height="585" />
          <br class="clear"/>
        </div>

      </div>
	<!-- Main page end -->

	
    </div></div>

    <div id="wufoo" class="modal">
      <iframe height="320" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="http://techfolder.wufoo.com/embed/r7x3s5/"><a href="http://techfolder.wufoo.com/forms/r7x3s5/" title="Reserve your Geek ID">Fill out my Wufoo form!</a></iframe>
    </div>
