<div id="content">
  <div class="product_info">
    <%=image_tag @product.icon.fortyeight.url%>
    <h2>Who uses <%=@product.name%>?</h2>
  </div>

  <%= render :partial => 'users/user', :collection => @users%>
</div>

<div id="sidebar">
  <div id="share" class="section">
    <%= raw share_the_love %>
  </div>
</div>
