<!DOCTYPE html>
<html>
<head>
  <title>iGeek.at</title>
  <%= stylesheet_link_tag 'reset', 'style', 'black' %>
  <%= javascript_include_tag 'jquery', 'jquery_tweet', 'modernizr', 'jquery_lightbox', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
